@page "{person=Visitor}"
@inject Dictionary<string, int> counters
@{
	var visitor = ViewContext.RouteData.Values["person"].ToString();
	int count;
	lock(counters)
	{
		counters.TryGetValue(visitor, out count);
		counters[visitor] = ++count;
	}
}
@addTagHelper *, BasicWebApp
<!DOCTYPE html>
<html>
	<head>
		<title>BasicWebApp</title>
	</head>
	<body>
		<h1>Welcome @visitor</h1>
		<b>Current Time: </b><span time-display-format="HH:mm:ss"></span>
		<p><b>Number of Greetings: </b>@count</p>
	</body>
</html>

