<!DOCTYYPE html>
@{
	var visitor = ViewContext.RouteData.Values["id"] ?? "Visitor";
}
<html>
	<head>
		<title>BasicWebApp</title>
	</head>	
	<body style="color:white;background-color:black">
		<h1>Hello @visitor</h1>
		<b>Current Time: </b>@DateTime.Now
	</body>
</html>

