@model DateTime

<!DOCTYYPE html>
<html>
	<head>
		<title>ClassicWebApp</title>
	</head>	
	<body>
		<h1>Welcome @ViewBag.Person</h1>
		<b>Current Time: </b>@Model.ToString("HH:mm:ss")
	</body>
</html>

