@page
@model ClassicWebApp.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
	<head>
		<title>ClassicWebApp</title>
	</head>
	<body>
		<h1>Our Visitors</h1>
		<table border="1">
			<tr>
				<th>Visitor Name</th>
				<th>Visit Count</th>
				<th>Last Visit</th>
			</tr>
			@foreach(var item in Model.OurVisitors)
			{
				<tr>
					<td>@item.Id</td>
					<td>@item.Frequency</td>
					<td>@item.Recent</td>
				</tr>
			}
		</table>
		<p>
			<form method="post">
				<b>Name:</b>
				<input type="text" required="required" asp-for="Person"/>
				<input type="submit" value="Register"/>
			</form>
		</p>
	</body>
</html>

